#page-create-orphanage {
    display: flex;
    min-height: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    background: #F5F8FA;
    border-radius: 0 0 20px 20px;
}

.input-block label span {
    font-size: 1.4rem;
    color: #8fa7b3;
    margin-left: 2.4rem;
    line-height: 1.5;
}

